@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --color-primary: #4cb8ec;
    --color-primary-dark: #3c92bb;
    --color-primary-clear: #7bc9ef;
    --color-primary-clearer: #b4e3fb;
    --color-secondary: #d9d6d6;
    --color-secondary-clear: #efe5e5;
    --color-secondary-dark: #9d9b9b;

    --color-text-disabled: #6d6d6d;
    --color-text-background-disabled: #8a8a8a;

    --color-button-blue: #279fdb;
    --color-button-blue-hover: #68ccff;
    --color-button-red: #d53838;
    --color-button-red-hover: #ff5f5f;
    --color-button-green: #28a745;
    --color-button-green-hover: #218838;

    --color-text-clear: #ffffff;
    --color-text-hint-background: #c6d9cd;
    --color-text-hint: #0cc35d;
    --color-text-error: #ff0000;
    --color-text-dark: #000000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3, label{
    font-family: "Montserrat", sans-serif;
}
a, p{
    text-decoration: none;
    font-family: "Mulish", sans-serif;
}

.btn{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn:active{
    scale: 0.9;
}
.btn-red{
    background-color: var(--color-button-red);
    color: var(--color-text-clear);
}
.btn-red:hover{
    background-color: var(--color-button-red-hover);
}
.btn-save {
    background-color: var(--color-button-green);
    color: white;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    align-self: flex-end;
}
.btn-save:hover {
    background-color: var(--color-button-green-hover);
}
.btn-clear {
    background-color: var(--color-button-red);
    color: white;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    align-self: flex-end;
}
.btn-clear:hover {
    background-color: var(--color-button-red-hover);
}
.btn-close{
    align-self: flex-start;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1px 5px;
}
.btn-menu{
    width: 80px;
    height: 10vh;
    background-color: transparent;
    background-image: url("../img/icon-config.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s ease, filter 0.3s ease;
    margin-left: 10px;
    filter: brightness(0);
}
.btn-menu:hover {
    filter: brightness(0) invert(1);
}
.btn-menu.rotate {
    transform: rotate(90deg) scale(0.75);
}
.btn-menu:active {
    transform: scale(0.9);
}
.btn-menu.rotate:active {
    transform: rotate(90deg) scale(0.9);
}
.btn-icon{
    width: 15px;
    height: auto;
    background-color: transparent;
    filter: brightness(0) invert(1);
}
.btn-close-small{
    cursor: pointer;
    padding: 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-config{
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("../img/icon-config.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s ease;
    margin-left: auto;
    filter: brightness(0);
}
.btn-config:hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}
.btn-config:active {
    transform: scale(0.9);
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: 0 10px 10px var(--color-primary-dark);
    position: relative;
    z-index: 10;
    user-select: none;
    h1{
        width: 90%;
        text-align: center;
    }
}

.container{
    display: flex;
}
.container-main{
    width: 100%;
    height: 85vh;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
    /*flex-direction: column;*/
}
.container-empty{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    box-shadow: 0 -5px 10px var(--color-primary-dark);
    position: relative;
    z-index: 10;
    user-select: none;
}

/*tabla*/
.table-column{
    background-color: var(--color-secondary-clear);
    border-radius: 10px;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s ease;
    .table-row-header{
        padding: 10px;
        border-radius: 10px;
        user-select: none;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        h3{
            flex:1;
            text-align: center;
        }
        .limit-container{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap:    10px;
            p{
                align-self: center;
            }
            .column-limit{
                text-align: end;
                display: flex;
                width: 40px;
            }

        }
    }

    .table-row-container{
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
        padding: 10px;
        background-color: var(--color-secondary);
        transition: 0.3s ease;
        overflow: scroll;
        /*scrollbar-color: red orange;*/
        overflow-scrolling: auto;
        scrollbar-width: none;
        .table-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--color-primary-clear);
            padding: 10px;
            height: 2rem;
            border-radius: 10px;
            user-select: none;
            transition: 0.5s ease;
            text-align: center;
            font-family: system-ui;
            font-weight: bold;
            overflow: hidden;
        }
        .table-row:hover{
            background-color: var(--color-primary-clearer);
            scale: 1.05;
        }
        /*.table-row:active{*/
        /*    !*background-color: var(--color-text-hint);*!*/
        /*    scale: 0.9;*/
        /*}*/
        .table-row.deleting {
            background-color: var(--color-button-red);
            color: var(--color-text-clear);
        }
        .table-row.deleted {
            background-color: var(--color-button-red);
            color: var(--color-text-clear);
            scale: 0;
        }
        .table-row.creating{
            scale: 0;
            background-color: var(--color-text-hint);
            color: var(--color-text-clear);
        }
    }
    .table-row-container:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 10px var(--color-secondary-dark);
    }
}


/*preferencias*/
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Un poco más ancho para el form */
    height: 100vh;
    background-color: var(--color-secondary-clear);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto; /* Scroll si hay muchas columnas */
}
#sidebar.active {
    transform: translateX(0);
}
#menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    div:first-of-type{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            width: 100%;
            text-align: center;
            user-select: none;
        }

    }
}
.config-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    justify-content: space-between;
}
.counter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    /*height: 25vh;*/
    label{
        user-select: none;
    }
}
.counter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.counter-controls input {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-counter {
    background-color: var(--color-button-blue);
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-counter:hover {
    background-color: var(--color-button-blue-hover);
}
.columns-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 55vh;
}
.column-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*diálogo*/
#dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
    user-select: none;
}
.window-container {
    background-color: var(--color-button-blue);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 300px;
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
    border: 1px solid var(--color-button-blue);
    user-select: none;
}
.window-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid #eee;*/
    padding-bottom: 10px;
    background-color: var(--color-button-blue);
    h3{
        margin: auto;
    }
}
.window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-secondary-clear);
    p{
        text-align: center;
        width: 100%;
    }
    div:first-of-type{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1rem;
        input{
            width: 30px;
            display: flex;
            text-align: end;
        }
    }
}
.window-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.window-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--color-secondary-clear);

}
.window-buttons .btn {
    flex: 1;
    margin-top: 0;
}
